
*,
*::before,
*::after {
  box-sizing: border-box;
}



.btn {
  background-color: transparent;
  color: rgb(55, 94, 239);
  padding: 0.5rem;
  text-transform: uppercase;
  display: ;
  width: 100%;
  text-align: center;
}

.btn:hover{
  color:black;
}


.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}


.cards__item {
  display: flex;
  padding: 1rem;
}


@media (min-width: 40rem) {
  .cards__item {
    width: 50%;
  }
}
@media (min-width: 56rem) {
  .cards__item {
    width: 33.3333%;
  }
}


.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.38);
  display: flex;
  box-orient: vertical;
  box-direction: normal;
  flex-direction: column;
  overflow: hidden;
}

.card:hover .card__image {
  filter: contrast(100%);
}

.card__content {
  display: flex;
  box-flex: 1;
  flex: 1 1 auto;
  box-orient: vertical;
  box-direction: normal;
  flex-direction: column;
  flex-direction: column;
  padding: 1rem;
}

.card__content h5{
  margin: auto;
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91), -webkit-filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  height: 200px;
  background-image: url(../images/marketing.svg);
}


.card__image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

@media (min-width: 40rem) {
  .card__image::before {
    padding-top: 66.6%;
  }
}

}

.card__image1{
  background-image: url(../images/marketing.svg);
}

.card__image2 {
  background-image: url(../images/consulting.svg);

}
.card__image3 {
  background-image: url(../images/ideation.svg);

}

